/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';


@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');




* {
  user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}

.move {
  display: inline-block;
  position: relative;
  right: 5;
}

.left-move {
  width: 7.6rem;
  margin-left: 10.6rem;
}

.box-shadow {
  -webkit-box-shadow: 1px 10px 27px -11px rgba(0,0,0,0.68);
  -moz-box-shadow: 1px 10px 27px -11px rgba(0,0,0,0.68);
  box-shadow: 1px 10px 27px -11px rgba(0,0,0,0.68)
}



.big-quote {
  color: #DADADA;
  font-size: 160px;
  font-family: "Amaranth", "sans-serif";
  font-weight: 400;
  height: 90px;
  width: 50px;
}

.margin {
  margin-top: 150px;
}

input::placeholder {
  color: black;
  font-size: 14px;
}

.black-btn {
  background-color: #000;
}

.red-btn {
  color: #FF5A55;
}

.dropdown {
  display: flex;
  align-items: center
}

.dropdown-content {
  z-index: 0;
  display: relative;
}
 

